<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- percorso file di configurazione LOG4NET -->
		<add key="HTTP_PORT" value="33445" ></add>
		<add key="TCP_PORT" value="33446" ></add>
		<add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\Motore ElaborazioneDatiStampe\ServizioElaborazioneDatiStampe\bin\log4net.xml"></add>
	
		<!-- URL SERVIZIO STAMPE -->
		<add key="URLServizioStampe" value="http://localhost:52101/RibesElaborazioneDocumenti.soap"/>
		<!--<add key="URLServizioStampe" value="http://192.168.14.113:52101/RibesElaborazioneDocumenti.soap"></add>-->
	</appSettings>
</configuration>
